@import '../../main.scss';

.preview-controls {
  margin-bottom: $default-space;
}

.preview-controls .input-group__details {
  min-height: auto;
}

.preview-controls__select {
  padding: 0;
}

.preview-controls__slider {
  flex-grow: 1;
  padding: 0;
}

.preview-controls__slider .input-group__details {
  display: none;
}
