@import '../../main.scss';

.editor {
  display: flex;
  flex-direction: column;
}

.editor__sw-checkbox {
  flex-grow: 0;
  padding: 0 $default-space;
  margin-bottom: $default-space;
}

.editor__sw-checkbox .input-group__details {
  display: none;
}

.editor__fetching, .editor__no-manifest {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $manifest-border-color;
  border-bottom: 1px solid $manifest-border-color;
  padding: 0 $default-space;
}

.editor__create-manifest {
  margin-bottom: $default-space * .75;
}

.editor__error-message {
  font-size: .8em;
  color: $color-red;
}
