$phone-scale: 1;
$phone-width: 452px;
$phone-height: 918px;
$phone-case-top: 88px;
$phone-case-right: 22px;
$phone-case-bottom: 146px;
$phone-case-left: 18px;
$phone-status-bar: 24px;
$phone-status-padding-top: 6px;
$phone-status-padding-right: 8px;
$phone-url: '/static/images/nexus-5x.png';

.phone {
  position: relative;
  background-image: url($phone-url);
  background-size: cover;
  width: $phone-width;
  height: $phone-height;
  transform: scale($phone-scale);
  transform-origin: top left;
}

.phone-time {
  position: absolute;
  top: $phone-case-top;
  right: $phone-case-right;
  padding-top: $phone-status-padding-top;
  padding-right: $phone-status-padding-right;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: .5px;
  color: white;
  background: black;
}

.phone-content {
  position: absolute;
  top: $phone-case-top + $phone-status-bar;
  left: $phone-case-left;
  width: calc(100% - #{$phone-case-left + $phone-case-right});
  height: calc(100% - #{$phone-case-top + $phone-status-bar + $phone-case-bottom});
  display: flex;
  justify-content: center;
  align-items: center;
}
