@import '../../main.scss';

.preview-criteria {
  background: $color-white;
  border: 1px solid $manifest-border-color;
  padding: $default-space;
}

.preview-criteria__title {
  margin-bottom: $default-space;
}

.preview-criteria__list {
  padding-bottom: $default-space * .5;
}

.preview-criteria__item {
  position: relative;
  margin-bottom: $default-space * .5;
  padding-left: $default-space;
}

.preview-criteria__item:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
}

.preview-criteria__item--pass:before {
  content: '\2713';
  color: $color-green;
}

.preview-criteria__item--fail:before {
  content: '\2717';
  color: $color-red;
}

