$default-space: 16px;

$font-color-default: #212121;
$font-color-grey: #525252;

$button-color-disabled: #525252;

$chrome-prompt-button-color: #1E88E5;

$manifest-border-color: #E0E0E0;

$color-white: #ffffff;
$color-green: #4caf50;
$color-red: #ff5252;
