$chrome-device-offset-top: 58px;
$chrome-device-offset-right: 16px;
$chrome-device-offset-bottom: 68px;
$chrome-device-offset-left: 16px;
$chrome-status-bar-height: 18px;
$samsung-device-offset-top: 69px;
$samsung-device-offset-right: 18px;
$samsung-device-offset-bottom: 72px;
$samsung-device-offset-left: 21px;
$samsung-status-bar-height: 18px;

.preview-device {
  position: relative;
}

.preview-device__status-bar {
  position: absolute;
  display: flex;
  align-items: center;
  background: black;
  color: white;
  padding: 0 4px;
}

.preview-device .icon {
  font-size: 12px;
  vertical-align: bottom;
}

.preview-device__status-icons {
  font-size: 12px;
  font-weight: 500;
  margin-left: auto;
}

.preview-device__content {
  position: absolute;
  overflow: hidden;
}

.preview-device--chrome .preview-device__content {
  width: calc(100% - #{$chrome-device-offset-left + $chrome-device-offset-right});
  height: calc(100% - #{$chrome-device-offset-top + $chrome-device-offset-bottom + $chrome-status-bar-height});
  top: calc(#{$chrome-device-offset-top + $chrome-status-bar-height});
  left: $chrome-device-offset-left;
}

.preview-device--chrome .preview-device__status-bar {
  width: calc(100% - #{$chrome-device-offset-left + $chrome-device-offset-right});
  height: $chrome-status-bar-height;
  top: $chrome-device-offset-top;
  left: $chrome-device-offset-left;
}

.preview-device--samsungInternet .preview-device__content {
  width: calc(100% - #{$samsung-device-offset-left + $samsung-device-offset-right});
  height: calc(100% - #{$samsung-device-offset-top + $samsung-device-offset-bottom + $samsung-status-bar-height});
  top: calc(#{$samsung-device-offset-top + $samsung-status-bar-height});
  left: $samsung-device-offset-left;
}

.preview-device--samsungInternet .preview-device__status-bar {
  width: calc(100% - #{$samsung-device-offset-left + $samsung-device-offset-right});
  height: $samsung-status-bar-height;
  top: $samsung-device-offset-top;
  left: $samsung-device-offset-left;
}
