$nexus-5x-scale: 1;
$nexus-5x-width: 452px;
$nexus-5x-height: 918px;
$nexus-5x-case-top: 88px;
$nexus-5x-case-right: 22px;
$nexus-5x-case-bottom: 146px;
$nexus-5x-case-left: 18px;
$nexus-5x-status-bar: 24px;
$nexus-5x-status-padding-top: 6px;
$nexus-5x-status-padding-right: 8px;
$nexus-5x-url: '/static/images/nexus-5x.png';

.preview-device {
  position: relative;
  background-size: cover;
  transform-origin: top left;
}

.preview-device--nexus-5x {
  background-image: url($nexus-5x-url);
  width: $nexus-5x-width;
  height: $nexus-5x-height;
  transform: scale($nexus-5x-scale);
}

.preview-device__time {
  position: absolute;
}

.preview-device--nexus-5x .preview-device__time {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: black;
  top: $nexus-5x-case-top;
  right: $nexus-5x-case-right;
  padding-top: $nexus-5x-status-padding-top;
  padding-right: $nexus-5x-status-padding-right;
}

.preview-device__content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preview-device--nexus-5x .preview-device__content {
  top: $nexus-5x-case-top + $nexus-5x-status-bar;
  left: $nexus-5x-case-left;
  width: calc(100% - #{$nexus-5x-case-left + $nexus-5x-case-right});
  height: calc(100% - #{$nexus-5x-case-top + $nexus-5x-status-bar + $nexus-5x-case-bottom});
}
