@import '../../main.scss';

$chrome-prompt-padding: 14px;

.chrome-prompt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0px -2px  6px rgba(0, 0, 0, 0.3);
  padding: $chrome-prompt-padding;
  transform: translateY(120%);
  transition: .5s;
}

.chrome-prompt--is-open {
  transform: translateY(0);
}

.chrome-prompt__content {
  margin-bottom: 16px;
}

.chrome-prompt__image {
  display: inline-block;
  width: 36px;
}

.chrome-prompt__image img {
  display: block;
  width: 100%;
}

.chrome-prompt__information {
  display: inline-block;
  vertical-align: top;
  padding-left: 7px;
}

.chrome-prompt__title {
  margin-bottom: 8px;
}

.chrome-prompt__url {
  font-size: 12px;
  font-weight: 300;
}

.chrome-prompt__close {
  position: absolute;
  top: $chrome-prompt-padding;
  right: $chrome-prompt-padding;
  width: 11px;
  height: 11px;
  border: 0;
  padding: 0;
  background: 0;
  line-height: 1;
  color: $font-color-grey;
}

.chrome-prompt__svg {
  width: 100%;
  height: 100%;
}

.chrome-prompt__path {
  fill: $font-color-grey;
}


.chrome-prompt__label {
  font-size: 0;
  height: 1px;
  overflow: hidden;
  display: block;
}

.chrome-prompt__add {
  float: right;
  background: $chrome-prompt-button-color;
  text-transform: uppercase;
  color: white;
  border: 0;
  padding: 8px 16px;
}

.chrome-prompt__add[disabled] {
  background: $button-color-disabled
}
