*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    letter-spacing: 0;
    overflow-x: hidden;
    font-family: 'Noto', 'Georgia', serif;
    letter-spacing: .0385em;
    line-height: 1.6;
    -webkit-font-feature-settings: "kern", "liga";
    font-feature-settings: "kern", "liga";
    -webkit-font-smoothing: antialiased;
    color: #12353C;
    background-color: #FFF;
}

@media (min-width: 1024px) {
    body {
        font-size: 1.125rem;
    }
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a,
input[type="submit"],
button {
    cursor: pointer;
    -webkit-transition: color 250ms ease, border-bottom 250ms ease;
    transition: color 250ms ease, border-bottom 250ms ease;
}

label {
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 75rem;
    margin: 1rem auto;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }
}

main > div {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    main > div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}

main > div:not(.show-element),
.preview:not(.show-element),
.devices:not(.device-show) {
    display: none;
}
@media (max-width: 768px) {
    #json, #preview{
        margin-top: 1rem;
    }
}

section {
    width: 100%;
}