.create {
    margin-bottom: 5rem;
}

@media (min-width: 768px) {
    .create {
        max-width: 30%;
        margin: 0;
    }
}

.create form {
    padding: 0rem 1rem;
    background-color: #12353C;
    color: #FFF;
}

@media (min-width: 768px) {
    .create form {
        padding: 0;
    }
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.create form fieldset legend {
    padding: 1rem 0 1rem 1rem;
}

form fieldset legend {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 0 1rem 0;
    color: #EDDD3E;
}

.dropdown {
    position: relative;
    padding: 1rem;
    background-color: #1A4E57;
}

.dropdown:not(:nth-of-type(8)) {
    border-bottom: solid 1px #12353C;
}

.tooltip {
    position: relative;
    font-size: .8rem;
    background-color: #D8D8D8;
    padding: 1rem;
    border-radius: 3px;
    color: #12353C;
    display: inline-block;
}

.tooltip:before {
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: #D8D8D8;
}

.dropdown .tooltip {
    display: none;
    opacity: 0;
}

.dropdown span {
    cursor: pointer;
}

.dropdown .arrow {
    float: right;
}

svg {
    fill: #FFF;
    opacity: .8;
    vertical-align: middle;
}

input.field {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

label.field span {
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

div.field {
    position: relative;
    max-height: 10rem;
    width: 100%;
    overflow: hidden;
    -webkit-transition: max-height 250ms;
    -o-transition: max-height 250ms;
    transition: max-height 250ms;
}

div.field label,
div.field input,
div.field select {
    display: inline-block;
    margin-top: 1rem;
}

input.field:checked ~ div.field {
    max-height: 0;
}

label.field span {
    transform: rotate(-180deg);
}

input.field:checked ~ label.field span {
    transform: rotate(0deg);
}

.dropdown span:hover .tooltip {
    position: absolute;
    z-index: 1;
    display: block;
    margin: .5rem 1rem 0 0;
    opacity: 1;
    -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .25);
}

.tooltip p {
    margin: 0;
}

.create form fieldset legend,
.dropdown label {
    font-family: 'Raleway', sans-serif;
}

.dropdown label {
    cursor: pointer;
}

.dropdown input,
.dropdown select {
    font-family: 'Noto', 'Georgia', serif;
    font-size: .9rem;
    display: block;
    width: 100%;
    padding: .5rem;
    border-radius: 0;
    outline: none;
    border: 0;
    background: #FFF;
}

.dropdown label input[type="radio"] {
    display: none;
}

.dropdown label .radio {
    position: relative;
    display: inline-block;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #FFF;
    border-radius: 50%;
    margin: 0 .5rem;
}

.dropdown label .radio:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 6px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.dropdown label input:checked ~ .radio {
    background: #0CAFCD;
}

.dropdown label input:checked ~ .radio:after {
    display: block;
}

.dropdown input[type="radio"],
.dropdown input[type="color"] {
    width: auto;
    padding: 0;
}

.dropdown input[type="color"] {
    width: 100%;
}

input,
select,
button,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
}

select::-ms-expand {
    display: none;
}

.dropdown .field div.arrow {
    position: absolute;
    top: 30px;
    right: 7px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #12353C transparent transparent transparent;
}

.dropdown:nth-of-type(8) {
    margin-bottom: 5rem;
}

input[type="submit"],
button {
    display: inline-block;
    outline: 0;
    font-size: 1.125rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0 2rem 0 0;
}

input[type="submit"]:last-of-type,
button:last-of-type {
    margin: 0;
}

.btn {
    background-color: #EDDD3E;
    padding: 1rem;
    border: 0;
    color: #12353C;
}

.btn:hover,
.btn.active {
    color: #12353C;
    background-color: #e3d015;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
    border: 0;
}

label.input-file-trigger {
    padding: 1rem;
    background: #0CAFCD;
    transition: all 250ms;
    cursor: pointer;
    margin: 1rem 0 0 0;
    text-align: center;
}

input.input-file {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 0;
}

.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
    background: #12353C;
    color: #FFF;
}

.reset {
    background-color: transparent;
    color: #FFF;
    border: 0;
    border-bottom: solid 1px #FFF;
    padding: 0;
    margin: .5rem;
}

.reset:after {
    content: "";
}

.reset:focus,
.reset:hover,
.app-header-menu ul li a:focus,
.app-header-menu ul li a:hover,
.app-header-menu ul li a.active {
    color: #0CAFCD;
    border-bottom: 1px solid #0CAFCD;
}

.json {
    -webkit-flex: 1;
    background-color: #12353C;
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .json {
        margin: 0;
    }
}

.json form {
    padding: 0 1rem 1rem 1rem;
}

textarea {
    width: 100%;
    min-height: 72vh;
    resize: none;
    border: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 1.125rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

input.btn--json {
    margin-top: 2rem;
}
