.preview {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.preview div.btn-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.devices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .devices {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.devices > div {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .devices > div {
        width: calc(50% - (.875em/2));
    }
}

.devices > div:nth-of-type(-n+4) {
    margin: 0;
}

.devices > div:nth-of-type(-n+3) {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .devices > div:nth-of-type(-n+4) {
        margin: 0 auto;
    }
}

iframe {
   width: 100%;
   height: 100%;
   border: none;
}
