@import '../../main.scss';

$push-notification-padding: 14px;

.push-notification {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0px -2px  6px rgba(0, 0, 0, 0.3);
  padding: $push-notification-padding;
  transform: translateY(120%);
  transition: .5s;
}

.push-notification.is-open {
  transform: translateY(0);
}

.push-notification-content {
  margin-bottom: 16px;
}

.push-notification-image {
  display: inline-block;
  width: 36px;
}

.push-notification-image img {
  display: block;
  width: 100%;
}

.push-notification-information {
  display: inline-block;
  vertical-align: top;
  padding-left: 7px;
}

.push-notification-title {
  margin-bottom: 8px;
}

.push-notification-url {
  font-size: 12px;
  font-weight: 300;
}

.push-notification-close {
  position: absolute;
  top: $push-notification-padding;
  right: $push-notification-padding;
  width: 11px;
  height: 11px;
  border: 0;
  padding: 0;
  background: 0;
  line-height: 1;
}

.push-notification-close svg {
  width: 100%;
  height: 100%;
}

.push-notification-close path {
  fill: $font-color-grey;
}

.push-notification-close {
  color: $font-color-grey;
}

.push-notification-label {
  font-size: 0;
  height: 1px;
  overflow: hidden;
  display: block;
}

.push-notification-add {
  float: right;
  background: $push-notification-button-color;
  text-transform: uppercase;
  color: white;
  border: 0;
  padding: 8px 16px;
}

.push-notification-add[disabled] {
  background: $button-color-disabled
}
