@import './styles/reset.scss';
@import './styles/variables.scss';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $font-color-default;
}

.a11y-only {
  border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}
